<h1 class="text-white">Editing Book</h1>

<%= render 'form', book: @book %>

<button type="button" class="btn btn-light"><%= link_to 'Show', @book %></button> | 
<button type="button" class="btn btn-light"><%= link_to 'Back', books_path %></button><br><br>



